[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
imagestore-mitoc = {editable = true,path = "."}

[packages]
sorl-thumbnail = ">=12.4.0"
django-autocomplete-light = ">=3.0"
django-tagging = "*"
swapper = "*"
lxml = "*"
django-cms = "==3.6.0"
Pillow = ">=5.4.1"
chardet = "*"
django-mptt = "*"
django-crispy-forms = "==1.7.2"
django-debug-toolbar = "*"
django-markdown2 = "*"
django-allauth = "*"
django-cleanup = "*"
django = "==2.2.8"

[requires]
python_version = "3.8"
